.hs-wiki-navbar-top {
    border-radius: var(--hs-rounded-size) !important;
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: var(--hs-margin-size) !important;
    left: var(--hs-margin-size) !important;
    right: var(--hs-margin-size) !important;
    height: 45px !important;
    padding: 5px !important;
    z-index: 100 !important;
}

.hs-wiki-navbar-left {
    border-radius: var(--hs-rounded-size) !important;
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: calc(45px + (var(--hs-margin-size) * 2)) !important;
    left: var(--hs-margin-size) !important;
    bottom: calc(50px + (var(--hs-margin-size) * 2)) !important;
    width: var(--hs-wiki-navbar-left-width) !important;
    overflow-y: auto !important;
    z-index: 50 !important;
}
.hs-wiki-navbar-left:hover {
    width: 200px !important;
}
.hs-wiki-navbar-left:hover .hs-wiki-navbar-left-show {
    display: inline !important;
}

.hs-wiki-navbar-bottom {
    border-radius: var(--hs-rounded-size) !important;
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    left: var(--hs-margin-size) !important;
    right: var(--hs-margin-size) !important;
    bottom: var(--hs-margin-size) !important;
    height: 50px !important;
    z-index: 100 !important;
}

.hs-wiki-content {
    left: calc(20px + var(--hs-wiki-navbar-left-width)) !important;
    border-radius: var(--hs-rounded-size) !important;
    background-color: var(--hs-bl-002) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    backdrop-filter: blur(10px) !important;
    margin: calc(45px + (var(--hs-margin-size) * 2)) var(--hs-margin-size) calc(50px + (var(--hs-margin-size) * 2)) calc(var(--hs-wiki-navbar-left-width) + (var(--hs-margin-size) * 2)) !important;
    z-index: 1 !important;
    overflow-y: auto !important;
    min-height: calc(100vh - 95px - (var(--hs-margin-size) * 4)) !important;
}

.hs-wiki-search {
    height: 35px !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 10px !important; 
    max-width: 600px !important;
    transform: translate(-50%) !important;
    margin-left: 50% !important;
}
.hs-wiki-search:focus {
    border: none !important;
    outline: none !important;
}

.hs-wiki-navbar-left-show {
    display: var(--hs-wiki-navbar-left-show) !important;
}

#hs-wiki-titel {
    height: 40px !important;
    margin: 5px !important;
    border-radius: 10px !important;
    background-color: var(--hs-bl-001) !important;
}

/* Seitenbreite größer als 1001px */
@media (min-width: 1001px) {
    :root {
        --hs-wiki-navbar-left-width: 200px !important;
    }
}

/* Seitenbreite kleiner als 1000px */
@media (max-width: 1000px) {
    :root {
        --hs-wiki-navbar-left-width: 50px !important;
        --hs-wiki-navbar-left-show: none !important;
    }
}