.hs-wiki-navbar-top {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
    height: 45px !important;
    padding: 5px !important;
    z-index: 100 !important;
}

.hs-wiki-navbar-left {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    top: 65px !important;
    left: 10px !important;
    bottom: 70px !important;
    width: var(--hs-media-navbar-left-width) !important;
    overflow-y: auto !important;
    z-index: 50 !important;
}
.hs-wiki-navbar-left:hover {
    width: 200px !important;
}
.hs-wiki-navbar-left:hover .hs-wiki-navbar-left-show {
    display: inline !important;
}

.hs-wiki-navbar-bottom {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    position: fixed !important;
    left: 10px !important;
    right: 10px !important;
    bottom: 10px !important;
    height: 50px !important;
    z-index: 100 !important;
}

.hs-wiki-content {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    backdrop-filter: blur(3px) !important;
    position: absolute !important;
    top: 65px !important;
    left: calc(20px + var(--hs-wiki-navbar-left-width)) !important;
    right: 10px !important;
    bottom: 70px !important;
    z-index: 1 !important;
}

.hs-wiki-search {
    height: 35px !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 10px !important; 
    max-width: 600px !important;
    transform: translate(-50%) !important;
    margin-left: 50% !important;
}

.hs-wiki-navbar-left-show {
    display: var(--hs-wiki-navbar-left-show) !important;
}

#hs-wiki-titel {
    height: 40px !important;
    margin: 5px !important;
    border-radius: 10px !important;
    background-color: var(--hs-bl-001) !important;
}

/* Seitenbreite größer als 1001px */
@media (min-width: 1001px) {
    :root {
        --hs-wiki-navbar-left-width: 200px !important;
    }
}

/* Seitenbreite kleiner als 1000px */
@media (max-width: 1000px) {
    :root {
        --hs-wiki-navbar-left-width: 50px !important;
        --hs-wiki-navbar-left-show: none !important;
    }
}